/* Defines the appearance of a signup container with absolute positioning, centered horizontally, specific dimensions, and a dark grayish-blue background. */
.login-container
{
    height: 860px;
}

/* Styles for a container with class .background-container */
.background-container 
{
    height: 1200px;
}

/* Styles for email and name input containers */
.date-input-container
{   
    position: relative;
    height: 50px;
    width: 500px;
    background: #9B9B9B;
}

/* Adds a top margin to the name input container to adjust its vertical position. */
.date-input-container
{   
    text-indent: 30px;
    margin-top: 50px;
}


/* Defines the style of the signup button container, including its bottom positioning, background color, width, and horizontal centering. */
.signup-button-container
{
    bottom: 50px;
    background: #212121;
    width: 400px;
    left: 50%;
    transform: translate(-50%, 0%); 
}
.userdate-input-container, .password-input-container
{   
    top:0px;
    margin-top: 50px;
}

.male-radio-container, .female-radio-container
{
    position: absolute;
    width: 25px;
    height: 25px;
    bottom: 180px;
}
.male-radio-container
{
    left: 125px;
}
.female-radio-container
{
    right: 125px;
}
.male-text, .female-text
{
    position: absolute;
    color: white;
    font-family: Game Over;
    font-size: 80px;
    bottom: 110px;
    
}
.male-text
{
    left: 110px;
}
.female-text
{
    right: 90px;
}
.gender-list 
{
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
}
